body{
    background: url(img/menu.jpg) center;
    background-size: cover;
}

label{
    color: green;
    font-size: 2rem;
}

input{
    background-color: pink;
    font-size: 2.5rem;
}

